.train-listing-page-child26 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  width: 375px;
  height: 53px;
}
.coimbatore-to-chennai1,
.febwednesday1 {
  position: absolute;
  height: 62.9%;
  width: 79.07%;
  top: 12.9%;
  left: 19.11%;
  font-weight: 500;
  display: inline-block;
}
.febwednesday1 {
  height: 35.48%;
  width: 47.11%;
  top: 77.42%;
  left: 20%;
  font-size: var(--font-size-3xs);
  color: var(--color-gray-300);
}
.icon-arrow-back1 {
  position: absolute;
  height: 87.74%;
  width: 12.27%;
  top: 6.45%;
  right: 88.62%;
  bottom: 5.81%;
  left: -0.89%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.appbar-info1 {
  position: absolute;
  top: 6px;
  left: 7px;
  width: 225px;
  height: 31px;
  font-size: var(--font-size-base);
  color: var(--color-darkslateblue-200);
}
.train-listing-page-child27 {
  position: absolute;
  top: 64px;
  left: 27px;
  border-radius: var(--br-8xs);
  background-color: var(--color-chocolate);
  width: 75px;
  height: 36px;
}
.train-listing-page-child28,
.train-listing-page-child29,
.train-listing-page-child30 {
  position: absolute;
  top: 64px;
  left: 119px;
  border-radius: var(--br-8xs);
  background-color: var(--color-linen);
  border: 0.3px solid var(--color-chocolate);
  box-sizing: border-box;
  width: 75px;
  height: 33px;
}
.train-listing-page-child29,
.train-listing-page-child30 {
  left: 216px;
}
.train-listing-page-child30 {
  left: 308px;
}
.feb10,
.feb11,
.feb8,
.feb9 {
  position: absolute;
  top: 76px;
  font-size: var(--font-size-3xs);
  font-weight: 500;
}
.feb8 {
  left: 45px;
  color: var(--color-linen);
}
.feb10,
.feb11,
.feb9 {
  color: var(--color-chocolate);
}
.feb9 {
  left: 140px;
  display: inline-block;
  width: 36px;
  height: 14px;
}
.feb10,
.feb11 {
  left: 236px;
}
.feb11 {
  left: 329px;
}
.train-listing-page-child31,
.train-listing-page-child32,
.train-listing-page-child33,
.train-listing-page-child34 {
  position: absolute;
  top: 117px;
  left: 10px;
  border-radius: var(--br-sm);
  background-color: var(--color-white);
  width: 357px;
  height: 159px;
}
.train-listing-page-child32,
.train-listing-page-child33,
.train-listing-page-child34 {
  top: 308px;
  left: 9px;
}
.train-listing-page-child33,
.train-listing-page-child34 {
  top: 493px;
  left: 7px;
}
.train-listing-page-child34 {
  top: 114px;
  left: 10px;
  border-radius: var(--br-sm) var(--br-sm) 0 0;
  background-color: var(--color-darkslateblue-200);
  height: 37px;
}
.train-listing-page-child35,
.train-listing-page-child36,
.train-listing-page-child37,
.train-listing-page-child38,
.train-listing-page-child39 {
  position: absolute;
  top: 305px;
  left: 9px;
  border-radius: var(--br-sm) var(--br-sm) 0 0;
  background-color: var(--color-darkslateblue-200);
  width: 357px;
  height: 37px;
}
.train-listing-page-child36,
.train-listing-page-child37,
.train-listing-page-child38,
.train-listing-page-child39 {
  top: 490px;
  left: 7px;
}
.train-listing-page-child37,
.train-listing-page-child38,
.train-listing-page-child39 {
  top: 240px;
  left: 10px;
  border-radius: 0 0 var(--br-sm) var(--br-sm);
}
.train-listing-page-child38,
.train-listing-page-child39 {
  top: 431px;
  left: 9px;
}
.train-listing-page-child39 {
  top: 616px;
  left: 7px;
}
.b23,
.b24,
.b25,
.chennai-express1,
.cheran-express1,
.kovai-express1 {
  position: absolute;
  top: 123px;
  left: 44px;
  font-size: var(--font-size-base);
  color: var(--color-lavender);
}
.b23,
.b24,
.b25,
.cheran-express1,
.kovai-express1 {
  top: 314px;
  left: 43px;
}
.b23,
.b24,
.b25,
.kovai-express1 {
  top: 499px;
  left: 41px;
}
.b23,
.b24,
.b25 {
  top: 124px;
  left: 300px;
  font-size: var(--font-size-sm);
}
.b24,
.b25 {
  top: 315px;
  left: 299px;
}
.b25 {
  top: 500px;
  left: 297px;
}
.b26,
.div26 {
  position: absolute;
  top: 118px;
  left: 14px;
  font-size: var(--font-size-base);
}
.div26 {
  top: 119px;
  left: 114px;
  font-size: var(--font-size-xs);
  font-weight: 500;
}
.coimbatore-jn3,
.hrs3,
.m-t-w2 {
  position: absolute;
  top: 133px;
  left: 0;
}
.hrs3,
.m-t-w2 {
  top: 129px;
  left: 118px;
}
.m-t-w2 {
  top: 0;
  left: 153px;
  font-weight: 500;
}
.b27,
.mgr-chennai-ctl3 {
  position: absolute;
  top: 135px;
  left: 173px;
}
.b27 {
  top: 118px;
  left: 194px;
  font-size: var(--font-size-base);
}
.card-low-child4,
.card-low-child5 {
  position: absolute;
  top: 126.8px;
  left: 57.8px;
  border-top: 0.5px solid var(--color-lavender);
  box-sizing: border-box;
  width: 54.5px;
  height: 0.5px;
}
.card-low-child5 {
  left: 139.8px;
  width: 49.5px;
}
.card-low3,
.card-low4 {
  position: absolute;
  top: 127px;
  left: 60px;
  width: 266px;
  height: 147px;
  font-size: var(--font-size-3xs);
  color: var(--color-lavender);
}
.card-low4 {
  top: 318px;
  left: 59px;
}
.m-w-f1 {
  position: absolute;
  top: 0;
  left: 157px;
  font-weight: 500;
  white-space: pre-wrap;
}
.card-low5 {
  position: absolute;
  top: 503px;
  left: 57px;
  width: 266px;
  height: 147px;
  font-size: var(--font-size-3xs);
  color: var(--color-lavender);
}
.train-icon5,
.train-icon6,
.train-icon7 {
  position: absolute;
  top: 124px;
  left: 24px;
  width: 17px;
  height: 17px;
  overflow: hidden;
}
.train-icon6,
.train-icon7 {
  top: 315px;
  left: 23px;
}
.train-icon7 {
  top: 500px;
  left: 21px;
}
.train-listing-page-child40 {
  position: absolute;
  top: 163px;
  left: 18px;
  border-radius: var(--br-8xs);
  border: 0.5px solid var(--color-chocolate);
  box-sizing: border-box;
  width: 220px;
  height: 63px;
}
.train-listing-page-child41,
.train-listing-page-child42,
.train-listing-page-child43,
.train-listing-page-child44,
.train-listing-page-child45 {
  position: absolute;
  top: 354px;
  left: 17px;
  border-radius: var(--br-8xs);
  border: 0.5px solid var(--color-chocolate);
  box-sizing: border-box;
  width: 220px;
  height: 63px;
}
.train-listing-page-child42,
.train-listing-page-child43,
.train-listing-page-child44,
.train-listing-page-child45 {
  top: 539px;
  left: 15px;
}
.train-listing-page-child43,
.train-listing-page-child44,
.train-listing-page-child45 {
  top: 163px;
  left: 18px;
  border: 0.5px solid var(--color-silver-100);
}
.train-listing-page-child44,
.train-listing-page-child45 {
  top: 354px;
  left: 17px;
}
.train-listing-page-child45 {
  top: 539px;
  left: 15px;
}
.second-seating-2s3,
.second-seating-2s4 {
  position: absolute;
  top: 170px;
  left: 26px;
  font-size: var(--font-size-sm);
  font-weight: 600;
}
.second-seating-2s4 {
  top: 361px;
  left: 25px;
}
.ac-3-economy3,
.ac-3-economy4,
.ac-3-economy5,
.second-seating-2s5 {
  position: absolute;
  top: 546px;
  left: 23px;
  font-size: var(--font-size-sm);
  font-weight: 600;
}
.ac-3-economy3,
.ac-3-economy4,
.ac-3-economy5 {
  top: 170px;
  left: 257px;
}
.ac-3-economy4,
.ac-3-economy5 {
  top: 361px;
  left: 256px;
}
.ac-3-economy5 {
  top: 546px;
  left: 254px;
}
.seats-available2 {
  top: 197px;
  left: 48px;
}
.seats-available2,
.seats-available3,
.wl242 {
  position: absolute;
  font-size: var(--font-size-xs);
}
.wl242 {
  top: 388px;
  left: 47px;
  color: var(--color-red);
}
.seats-available3 {
  top: 573px;
  left: 45px;
}
.berth-available3,
.berth-available4,
.berth-available5 {
  position: absolute;
  top: 197px;
  left: 278px;
  font-size: var(--font-size-xs);
}
.berth-available4,
.berth-available5 {
  top: 388px;
  left: 277px;
}
.berth-available5 {
  top: 573px;
  left: 275px;
}
.b32,
.b33,
.b34,
.b35 {
  position: absolute;
  top: 177px;
  left: 390px;
}
.b33,
.b34,
.b35 {
  top: 368px;
  left: 387px;
}
.b34,
.b35 {
  top: 553px;
  left: 385px;
}
.b35 {
  top: 363px;
  left: 387px;
}
.b36,
.b37,
.b41,
.b42 {
  position: absolute;
  top: 548px;
  left: 385px;
}
.b37,
.b41,
.b42 {
  top: 546px;
  left: 387px;
}
.b41,
.b42 {
  top: 484px;
  left: 393px;
}
.b42 {
  top: 669px;
  left: 391px;
}
.icon-airline-seat-recline-nor3,
.icon-airline-seat-recline-nor4,
.icon-airline-seat-recline-nor5 {
  position: absolute;
  height: 3.9%;
  width: 4.53%;
  top: 28.34%;
  right: 88.27%;
  bottom: 67.77%;
  left: 7.2%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon-airline-seat-recline-nor4,
.icon-airline-seat-recline-nor5 {
  top: 56.97%;
  right: 88.53%;
  bottom: 39.13%;
  left: 6.93%;
}
.icon-airline-seat-recline-nor5 {
  top: 84.71%;
  right: 89.07%;
  bottom: 11.39%;
  left: 6.4%;
}
.train-listing-page-child46,
.train-listing-page-child47,
.train-listing-page-child48 {
  position: absolute;
  top: 183px;
  left: 188px;
  border-radius: var(--br-11xs);
  width: 44px;
  height: 23px;
}
.train-listing-page-child47,
.train-listing-page-child48 {
  top: 374px;
  left: 187px;
}
.train-listing-page-child48 {
  top: 559px;
  left: 185px;
}
.span3 {
  color: var(--color-darkslateblue-100);
}
.b43,
.b44,
.b45 {
  position: absolute;
  top: 188px;
  left: 187px;
  font-size: var(--font-size-base);
  filter: drop-shadow(0 2px 2px #fbeee6);
  color: var(--color-forestgreen);
}
.b44,
.b45 {
  top: 379px;
  left: 186px;
}
.b45 {
  top: 564px;
  left: 184px;
}
.train-listing-page-child49,
.train-listing-page-child50,
.train-listing-page-child51 {
  position: absolute;
  top: 162.8px;
  left: 176.8px;
  border-right: 0.5px solid var(--color-silver-300);
  box-sizing: border-box;
  width: 0.5px;
  height: 63.5px;
}
.train-listing-page-child50,
.train-listing-page-child51 {
  top: 353.8px;
  left: 175.8px;
}
.train-listing-page-child51 {
  top: 538.8px;
  left: 173.8px;
}
.airline-seat-individual-suite3 {
  position: absolute;
  top: 192px;
  left: 252px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.airline-seat-individual-suite4,
.airline-seat-individual-suite5 {
  position: absolute;
  top: 383px;
  left: 251px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.airline-seat-individual-suite5 {
  top: 568px;
  left: 249px;
}
.bottomnavbar3 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 5px 0 4px rgba(0, 0, 0, 0.25);
  width: 375px;
  height: 50px;
}
.filter1 {
  position: absolute;
  top: 31px;
  left: 282px;
  font-weight: 500;
}
.bottomnav-child {
  position: absolute;
  top: 6.5px;
  left: 186.5px;
  border-right: 1px solid var(--color-darkslateblue-200);
  box-sizing: border-box;
  width: 1px;
  height: 35px;
}
.icon-filter-alt1,
.icon-filter-list1 {
  position: absolute;
  height: 48%;
  width: 6.4%;
  top: 14%;
  right: 18.67%;
  bottom: 38%;
  left: 74.93%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon-filter-list1 {
  right: 70.67%;
  left: 22.93%;
}
.bottomnav {
  position: absolute;
  top: 617px;
  left: 0;
  width: 375px;
  height: 50px;
  font-size: var(--font-size-3xs);
  color: var(--color-darkslateblue-200);
}
.train-listing-page-child52 {
  position: absolute;
  top: 624px;
  left: 8px;
  background-color: var(--color-white);
  width: 171px;
  height: 36px;
}
.sort2 {
  position: absolute;
  top: 647px;
  left: 79px;
  font-size: var(--font-size-3xs);
  font-weight: 500;
  color: var(--color-darkslateblue-200);
}
.vector-icon2 {
  position: absolute;
  height: 1.8%;
  width: 4.8%;
  top: 94.3%;
  right: 73.87%;
  bottom: 3.9%;
  left: 21.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.train-listing-page-child53 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 32, 32, 0.44);
  width: 376px;
  height: 682px;
}
.drag-handle {
  width: 32px;
  position: relative;
  border-radius: var(--br-81xl);
  background-color: var(--m3-sys-light-outline);
  height: 4px;
  opacity: 0.4;
}
.sheet-header {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base);
  box-sizing: border-box;
}
.sort-by {
  position: absolute;
  top: 34px;
  left: 32px;
  font-size: 26px;
  font-weight: 500;
  color: var(--color-black);
}
.tickets-availability-first {
  position: absolute;
  top: 79px;
  left: 32px;
  font-weight: 600;
  color: var(--color-coral);
}
.early-departures-first,
.late-departures-first {
  position: absolute;
  top: 115px;
  left: 32px;
  font-weight: 600;
}
.late-departures-first {
  top: 152px;
}
.cancel,
.early-departures-first2,
.late-departures-first2 {
  position: absolute;
  top: 189px;
  left: 32px;
  font-weight: 600;
}
.cancel,
.late-departures-first2 {
  top: 226px;
}
.cancel {
  top: 282px;
  left: 79px;
}
.bottom-sheet-sort-child,
.bottom-sheet-sort-child2,
.bottom-sheet-sort-child3,
.bottom-sheet-sort-child4,
.bottom-sheet-sort-inner {
  position: absolute;
  top: 103.8px;
  left: 29.8px;
  border-top: 0.5px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 315.5px;
  height: 0.5px;
}
.bottom-sheet-sort-child2,
.bottom-sheet-sort-child3,
.bottom-sheet-sort-child4,
.bottom-sheet-sort-inner {
  top: 140.8px;
  left: 31.8px;
}
.bottom-sheet-sort-child2,
.bottom-sheet-sort-child3,
.bottom-sheet-sort-child4 {
  top: 177.8px;
}
.bottom-sheet-sort-child3,
.bottom-sheet-sort-child4 {
  top: 214.8px;
}
.bottom-sheet-sort-child4 {
  top: 251.8px;
}
.bottom-sheet-sort-child5,
.bottom-sheet-sort-child6 {
  position: absolute;
  top: 270px;
  left: 49px;
  border-radius: var(--br-5xs);
  border: 1px solid var(--color-darkslateblue-200);
  box-sizing: border-box;
  width: 123px;
  height: 44px;
}
.bottom-sheet-sort-child6 {
  left: 206px;
  background-color: var(--color-darkslateblue-200);
}
.apply {
  position: absolute;
  top: 282px;
  left: 245px;
  font-weight: 600;
  color: var(--color-ghostwhite);
}
.bottom-sheet-sort {
  position: absolute;
  width: 101.6%;
  top: 342px;
  right: -0.8%;
  left: -0.8%;
  border-radius: var(--br-9xl) var(--br-9xl) 0 0;
  background: linear-gradient(
      rgba(103, 80, 164, 0.05),
      rgba(103, 80, 164, 0.05)
    ),
    #fff;
  height: 329px;
  overflow: hidden;
  font-size: var(--font-size-base);
  color: var(--color-darkslateblue-200);
}
.train-listing-page1 {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-100);
  height: 667px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xs);
  color: var(--color-darkslateblue-100);
  font-family: var(--font-inter);
}
