.train-listing-page-child54 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  width: 375px;
  height: 53px;
}
.coimbatore-to-chennai2,
.febwednesday2 {
  position: absolute;
  height: 62.9%;
  width: 79.07%;
  top: 12.9%;
  left: 19.11%;
  font-weight: 500;
  display: inline-block;
}
.febwednesday2 {
  height: 35.48%;
  width: 47.11%;
  top: 77.42%;
  left: 20%;
  font-size: var(--font-size-3xs);
  color: var(--color-gray-300);
}
.icon-arrow-back2 {
  position: absolute;
  height: 77.42%;
  width: 10.67%;
  top: 32.26%;
  right: 87.11%;
  bottom: -9.68%;
  left: 2.22%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.appbar-info2 {
  position: absolute;
  top: 6px;
  left: 7px;
  width: 225px;
  height: 31px;
  font-size: var(--font-size-base);
  color: var(--color-darkslateblue-200);
}
.train-listing-page-child55 {
  position: absolute;
  top: 64px;
  left: 27px;
  border-radius: var(--br-8xs);
  background-color: var(--color-chocolate);
  width: 75px;
  height: 36px;
}
.train-listing-page-child56,
.train-listing-page-child57,
.train-listing-page-child58 {
  position: absolute;
  top: 64px;
  left: 119px;
  border-radius: var(--br-8xs);
  background-color: var(--color-linen);
  border: 0.3px solid var(--color-chocolate);
  box-sizing: border-box;
  width: 75px;
  height: 33px;
}
.train-listing-page-child57,
.train-listing-page-child58 {
  left: 216px;
}
.train-listing-page-child58 {
  left: 308px;
}
.feb12,
.feb13,
.feb14,
.feb15 {
  position: absolute;
  top: 76px;
  font-size: var(--font-size-3xs);
  font-weight: 500;
}
.feb12 {
  left: 45px;
  color: var(--color-linen);
}
.feb13,
.feb14,
.feb15 {
  color: var(--color-chocolate);
}
.feb13 {
  left: 140px;
  display: inline-block;
  width: 36px;
  height: 14px;
}
.feb14,
.feb15 {
  left: 236px;
}
.feb15 {
  left: 329px;
}
.train-listing-page-child59,
.train-listing-page-child60,
.train-listing-page-child61,
.train-listing-page-child62 {
  position: absolute;
  top: 117px;
  left: 10px;
  border-radius: var(--br-sm);
  background-color: var(--color-white);
  width: 357px;
  height: 159px;
}
.train-listing-page-child60,
.train-listing-page-child61,
.train-listing-page-child62 {
  top: 308px;
  left: 9px;
}
.train-listing-page-child61,
.train-listing-page-child62 {
  top: 493px;
  left: 7px;
}
.train-listing-page-child62 {
  top: 114px;
  left: 10px;
  border-radius: var(--br-sm) var(--br-sm) 0 0;
  background-color: var(--color-darkslateblue-200);
  height: 37px;
}
.train-listing-page-child63,
.train-listing-page-child64,
.train-listing-page-child65,
.train-listing-page-child66,
.train-listing-page-child67 {
  position: absolute;
  top: 305px;
  left: 9px;
  border-radius: var(--br-sm) var(--br-sm) 0 0;
  background-color: var(--color-darkslateblue-200);
  width: 357px;
  height: 37px;
}
.train-listing-page-child64,
.train-listing-page-child65,
.train-listing-page-child66,
.train-listing-page-child67 {
  top: 490px;
  left: 7px;
}
.train-listing-page-child65,
.train-listing-page-child66,
.train-listing-page-child67 {
  top: 240px;
  left: 10px;
  border-radius: 0 0 var(--br-sm) var(--br-sm);
}
.train-listing-page-child66,
.train-listing-page-child67 {
  top: 431px;
  left: 9px;
}
.train-listing-page-child67 {
  top: 616px;
  left: 7px;
}
.b46,
.b47,
.b48,
.chennai-express2,
.cheran-express2,
.kovai-express2 {
  position: absolute;
  top: 123px;
  left: 44px;
  font-size: var(--font-size-base);
  color: var(--color-lavender);
}
.b46,
.b47,
.b48,
.cheran-express2,
.kovai-express2 {
  top: 314px;
  left: 43px;
}
.b46,
.b47,
.b48,
.kovai-express2 {
  top: 499px;
  left: 41px;
}
.b46,
.b47,
.b48 {
  top: 124px;
  left: 300px;
  font-size: var(--font-size-sm);
}
.b47,
.b48 {
  top: 315px;
  left: 299px;
}
.b48 {
  top: 500px;
  left: 297px;
}
.b49,
.div29 {
  position: absolute;
  top: 118px;
  left: 14px;
  font-size: var(--font-size-base);
}
.div29 {
  top: 119px;
  left: 114px;
  font-size: var(--font-size-xs);
  font-weight: 500;
}
.coimbatore-jn6,
.hrs6,
.m-t-w4 {
  position: absolute;
  top: 133px;
  left: 0;
}
.hrs6,
.m-t-w4 {
  top: 129px;
  left: 118px;
}
.m-t-w4 {
  top: 0;
  left: 153px;
  font-weight: 500;
}
.b50,
.mgr-chennai-ctl6 {
  position: absolute;
  top: 135px;
  left: 173px;
}
.b50 {
  top: 118px;
  left: 194px;
  font-size: var(--font-size-base);
}
.card-low-child10,
.card-low-child11 {
  position: absolute;
  top: 126.8px;
  left: 57.8px;
  border-top: 0.5px solid var(--color-lavender);
  box-sizing: border-box;
  width: 54.5px;
  height: 0.5px;
}
.card-low-child11 {
  left: 139.8px;
  width: 49.5px;
}
.card-low6,
.card-low7 {
  position: absolute;
  top: 127px;
  left: 60px;
  width: 266px;
  height: 147px;
  font-size: var(--font-size-3xs);
  color: var(--color-lavender);
}
.card-low7 {
  top: 318px;
  left: 59px;
}
.m-w-f2 {
  position: absolute;
  top: 0;
  left: 157px;
  font-weight: 500;
  white-space: pre-wrap;
}
.card-low8 {
  position: absolute;
  top: 503px;
  left: 57px;
  width: 266px;
  height: 147px;
  font-size: var(--font-size-3xs);
  color: var(--color-lavender);
}
.train-icon10,
.train-icon8,
.train-icon9 {
  position: absolute;
  top: 124px;
  left: 24px;
  width: 17px;
  height: 17px;
  overflow: hidden;
}
.train-icon10,
.train-icon9 {
  top: 315px;
  left: 23px;
}
.train-icon10 {
  top: 500px;
  left: 21px;
}
.train-listing-page-child68 {
  position: absolute;
  top: 163px;
  left: 18px;
  border-radius: var(--br-8xs);
  border: 0.5px solid var(--color-chocolate);
  box-sizing: border-box;
  width: 220px;
  height: 63px;
}
.train-listing-page-child69,
.train-listing-page-child70,
.train-listing-page-child71,
.train-listing-page-child72,
.train-listing-page-child73 {
  position: absolute;
  top: 354px;
  left: 17px;
  border-radius: var(--br-8xs);
  border: 0.5px solid var(--color-chocolate);
  box-sizing: border-box;
  width: 220px;
  height: 63px;
}
.train-listing-page-child70,
.train-listing-page-child71,
.train-listing-page-child72,
.train-listing-page-child73 {
  top: 539px;
  left: 15px;
}
.train-listing-page-child71,
.train-listing-page-child72,
.train-listing-page-child73 {
  top: 163px;
  left: 18px;
  border: 0.5px solid var(--color-silver-100);
}
.train-listing-page-child72,
.train-listing-page-child73 {
  top: 354px;
  left: 17px;
}
.train-listing-page-child73 {
  top: 539px;
  left: 15px;
}
.second-seating-2s6,
.second-seating-2s7 {
  position: absolute;
  top: 170px;
  left: 26px;
  font-size: var(--font-size-sm);
  font-weight: 600;
}
.second-seating-2s7 {
  top: 361px;
  left: 25px;
}
.ac-3-economy6,
.ac-3-economy7,
.ac-3-economy8,
.second-seating-2s8 {
  position: absolute;
  top: 546px;
  left: 23px;
  font-size: var(--font-size-sm);
  font-weight: 600;
}
.ac-3-economy6,
.ac-3-economy7,
.ac-3-economy8 {
  top: 170px;
  left: 257px;
}
.ac-3-economy7,
.ac-3-economy8 {
  top: 361px;
  left: 256px;
}
.ac-3-economy8 {
  top: 546px;
  left: 254px;
}
.seats-available4 {
  top: 197px;
  left: 48px;
}
.seats-available4,
.seats-available5,
.wl244 {
  position: absolute;
  font-size: var(--font-size-xs);
}
.wl244 {
  top: 388px;
  left: 47px;
  color: var(--color-red);
}
.seats-available5 {
  top: 573px;
  left: 45px;
}
.berth-available6,
.berth-available7,
.berth-available8 {
  position: absolute;
  top: 197px;
  left: 278px;
  font-size: var(--font-size-xs);
}
.berth-available7,
.berth-available8 {
  top: 388px;
  left: 277px;
}
.berth-available8 {
  top: 573px;
  left: 275px;
}
.b55,
.b56,
.b57,
.b58 {
  position: absolute;
  top: 177px;
  left: 390px;
}
.b56,
.b57,
.b58 {
  top: 368px;
  left: 387px;
}
.b57,
.b58 {
  top: 553px;
  left: 385px;
}
.b58 {
  top: 363px;
  left: 387px;
}
.b59,
.b60,
.b64,
.b65 {
  position: absolute;
  top: 548px;
  left: 385px;
}
.b60,
.b64,
.b65 {
  top: 546px;
  left: 387px;
}
.b64,
.b65 {
  top: 484px;
  left: 393px;
}
.b65 {
  top: 669px;
  left: 391px;
}
.icon-airline-seat-recline-nor6,
.icon-airline-seat-recline-nor7,
.icon-airline-seat-recline-nor8 {
  position: absolute;
  height: 3.9%;
  width: 4.53%;
  top: 28.34%;
  right: 88.27%;
  bottom: 67.77%;
  left: 7.2%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon-airline-seat-recline-nor7,
.icon-airline-seat-recline-nor8 {
  top: 56.97%;
  right: 88.53%;
  bottom: 39.13%;
  left: 6.93%;
}
.icon-airline-seat-recline-nor8 {
  top: 84.71%;
  right: 89.07%;
  bottom: 11.39%;
  left: 6.4%;
}
.train-listing-page-child74,
.train-listing-page-child75,
.train-listing-page-child76 {
  position: absolute;
  top: 183px;
  left: 188px;
  border-radius: var(--br-11xs);
  width: 44px;
  height: 23px;
}
.train-listing-page-child75,
.train-listing-page-child76 {
  top: 374px;
  left: 187px;
}
.train-listing-page-child76 {
  top: 559px;
  left: 185px;
}
.span6 {
  color: var(--color-darkslateblue-100);
}
.b66,
.b67,
.b68 {
  position: absolute;
  top: 188px;
  left: 187px;
  font-size: var(--font-size-base);
  filter: drop-shadow(0 2px 2px #fbeee6);
  color: var(--color-forestgreen);
}
.b67,
.b68 {
  top: 379px;
  left: 186px;
}
.b68 {
  top: 564px;
  left: 184px;
}
.train-listing-page-child77,
.train-listing-page-child78,
.train-listing-page-child79 {
  position: absolute;
  top: 162.8px;
  left: 176.8px;
  border-right: 0.5px solid var(--color-silver-300);
  box-sizing: border-box;
  width: 0.5px;
  height: 63.5px;
}
.train-listing-page-child78,
.train-listing-page-child79 {
  top: 353.8px;
  left: 175.8px;
}
.train-listing-page-child79 {
  top: 538.8px;
  left: 173.8px;
}
.airline-seat-individual-suite6 {
  position: absolute;
  top: 192px;
  left: 252px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.airline-seat-individual-suite7,
.airline-seat-individual-suite8 {
  position: absolute;
  top: 383px;
  left: 251px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.airline-seat-individual-suite8 {
  top: 568px;
  left: 249px;
}
.bottomnavbar4 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 5px 0 4px rgba(0, 0, 0, 0.25);
  width: 375px;
  height: 50px;
}
.filter2 {
  position: absolute;
  top: 31px;
  left: 282px;
  font-weight: 500;
}
.bottomnav-item {
  position: absolute;
  top: 6.5px;
  left: 186.5px;
  border-right: 1px solid var(--color-darkslateblue-200);
  box-sizing: border-box;
  width: 1px;
  height: 35px;
}
.icon-filter-alt2,
.icon-filter-list2 {
  position: absolute;
  height: 48%;
  width: 6.4%;
  top: 14%;
  right: 18.67%;
  bottom: 38%;
  left: 74.93%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon-filter-list2 {
  right: 70.67%;
  left: 22.93%;
}
.bottomnav1 {
  position: absolute;
  top: 617px;
  left: 0;
  width: 375px;
  height: 50px;
  font-size: var(--font-size-3xs);
  color: var(--color-darkslateblue-200);
}
.train-listing-page-child80 {
  position: absolute;
  top: 624px;
  left: 8px;
  background-color: var(--color-white);
  width: 171px;
  height: 36px;
}
.sort4 {
  position: absolute;
  top: 647px;
  left: 79px;
  font-size: var(--font-size-3xs);
  font-weight: 500;
  color: var(--color-darkslateblue-200);
}
.vector-icon3 {
  position: absolute;
  height: 1.8%;
  width: 4.8%;
  top: 94.3%;
  right: 73.87%;
  bottom: 3.9%;
  left: 21.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.train-listing-page-child81 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1612px;
  height: 712px;
}
.drag-handle1 {
  width: 32px;
  position: relative;
  border-radius: var(--br-81xl);
  background-color: var(--m3-sys-light-outline);
  height: 4px;
  opacity: 0.4;
}
.sheet-header1 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base);
  box-sizing: border-box;
}
.arrival,
.departure,
.train-types {
  position: absolute;
  top: 34px;
  left: 65px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  color: var(--color-darkslateblue-200);
}
.arrival,
.departure {
  top: 197px;
}
.arrival {
  top: 343px;
}
.vector-icon4 {
  position: absolute;
  height: 5.76%;
  width: 5.36%;
  top: 8.04%;
  right: 85.57%;
  bottom: 86.2%;
  left: 9.07%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.night-2,
.special-trains-3 {
  position: absolute;
  top: 87px;
  left: 25px;
  font-weight: 600;
}
.night-2 {
  top: 237px;
}
.afternoon-4,
.morning-3,
.others-2,
.passenger-2 {
  position: absolute;
  top: 123px;
  left: 25px;
  font-weight: 600;
}
.afternoon-4,
.morning-3,
.others-2 {
  top: 273px;
}
.afternoon-4,
.others-2 {
  top: 160px;
}
.afternoon-4 {
  top: 310px;
}
.bottom-sheet-filter-child,
.bottom-sheet-filter-item {
  position: absolute;
  top: 111.8px;
  left: 22.8px;
  border-top: 0.5px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 315.5px;
  height: 0.5px;
}
.bottom-sheet-filter-item {
  top: 261.8px;
}
.bottom-sheet-filter-child2,
.bottom-sheet-filter-child3,
.bottom-sheet-filter-child6,
.bottom-sheet-filter-child7 {
  position: absolute;
  top: 148.8px;
  left: 24.8px;
  border-top: 0.5px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 315.5px;
  height: 0.5px;
}
.bottom-sheet-filter-child3,
.bottom-sheet-filter-child6,
.bottom-sheet-filter-child7 {
  top: 298.8px;
}
.bottom-sheet-filter-child6,
.bottom-sheet-filter-child7 {
  top: 185.8px;
}
.bottom-sheet-filter-child7 {
  top: 335.8px;
}
.vector-icon5,
.vector-icon6 {
  position: absolute;
  height: 5.09%;
  width: 6.16%;
  top: 75%;
  right: 85.04%;
  bottom: 19.91%;
  left: 8.8%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon6 {
  top: 43.48%;
  right: 84.77%;
  bottom: 51.43%;
  left: 9.07%;
}
.cancel1 {
  position: absolute;
  top: 405px;
  left: 77px;
  font-weight: 600;
  color: var(--color-darkslateblue-200);
}
.bottom-sheet-filter-child8,
.bottom-sheet-filter-child9 {
  position: absolute;
  top: 393px;
  left: 47px;
  border-radius: var(--br-5xs);
  border: 1px solid var(--color-darkslateblue-200);
  box-sizing: border-box;
  width: 123px;
  height: 44px;
}
.bottom-sheet-filter-child9 {
  left: 204px;
  background-color: var(--color-darkslateblue-200);
}
.apply1 {
  position: absolute;
  top: 405px;
  left: 243px;
  font-weight: 600;
  color: var(--color-ghostwhite);
}
.bottom-sheet-filter {
  position: absolute;
  width: 100%;
  top: 216px;
  right: 0;
  left: 0;
  border-radius: var(--br-9xl) var(--br-9xl) 0 0;
  background: linear-gradient(
      rgba(103, 80, 164, 0.05),
      rgba(103, 80, 164, 0.05)
    ),
    #fff;
  height: 460px;
  overflow: hidden;
  font-size: var(--font-size-base);
  color: var(--color-gray-200);
}
.train-listing-page2 {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-100);
  height: 667px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xs);
  color: var(--color-darkslateblue-100);
  font-family: var(--font-inter);
}
